<ion-view title="Perfil de Usuario">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button icon ion-ios-undo" ng-click="toProfile()"></button>
    </div>
    <h1 class="title">Información</h1>
  </ion-header-bar>

  <ion-content>

    <div class="padding" style="text-align: center;">
      <img ng-src="img/logo_inse.png" style="width: 50%;">
    </div>

    <div class="col responsive-lg">
      <div class="card">
        <div class="item item-text-wrap">
          Esta aplicación cuenta con derechos de autor reservador y copyright.
        </div>
        <div class="item item-text-wrap">
          Versión: 1.9
        </div>
      </div>

    </div>

    <div class="padding">
      <button class="button button-assertive button-block" ng-click="logout()">Cerrar Sesión</button>
    </div>

  </ion-content>

</ion-view>
