<ion-view title="Inicio de Sesión">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Inicio de sesión</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding" style="text-align: center;">
      <img ng-src="img/logo_inse.png" style="width: 50%;">
      <h3>Bienvenido a la Aplicación para el registro de activos de Alumbrado Público</h3>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Nombre de Usuario</span>
        <input type="text" ng-model="datLogin.user">
      </label>
      <label class="item item-input">
        <span class="input-label">Contraseña</span>
        <input type="password" ng-model="datLogin.password">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-positive" ng-click="login()">
        <i class="icon ion-ios-cloud-upload"></i> Iniciar Sesión
      </button>
    </div>

  </ion-content>

  <ion-footer-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button button-icon ion-information-circled" ng-click="info()"></button>
    </div>
  </ion-footer-bar>
</ion-view>
