<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="back()"><i class="icon ion-reply"></i></button>
  </div>
  <h1 class="title">Consejos</h1>
</ion-header-bar>
<ion-content class="has-header">

  <div class="row">
    <div class="col" ng-if="imagen === '1'">
      <img ng-src="img/manual/inicio.JPG">
    </div>
    <div class="col" ng-if="imagen === '2'">
      <img ng-src="img/manual/2.JPG">
      <img ng-src="img/manual/4.JPG">
      <img ng-src="img/manual/5.JPG">
    </div>
    <div class="col" ng-if="imagen === '3'">
      <img ng-src="img/manual/6.JPG">
      <img ng-src="img/manual/7.JPG">
      <img ng-src="img/manual/8.JPG">
    </div>
    <div class="col" ng-if="imagen === '4'">
      <img ng-src="img/manual/9.JPG">
      <img ng-src="img/manual/10.JPG">
      <img ng-src="img/manual/11.JPG">
    </div>
    <div class="col" ng-if="imagen === '5'">
      <img ng-src="img/manual/12.JPG">
      <img ng-src="img/manual/13.JPG">
    </div>
  </div>

</ion-content>

