<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-royal">
    <h1 class="title">Registro del Apoyo</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header" scroll="true">

    <ion-slides options="options" slider="data.slider" active-slide="1" show-pager="false">
      <ion-slide-page style="background-color: white; overflow-y: scroll;">
        <div class="padding">
          <div class="padding" style="text-align: center;">
            <h1>Información del Apoyo</h1>
          </div>
          <div class="card">
            <div class="item item-divider">
              ¿A quien pertenece el apoyo?
            </div>
            <div class="item item-text-wrap">
              <ion-list>
                <ion-toggle ng-model="pertenece.cens" toggle-class="toggle-balanced" ng-change="apPertenece()">
                  Cens
                </ion-toggle>
                <ion-toggle ng-model="pertenece.telecom" toggle-class="toggle-balanced" ng-change="apPertenece()">
                  Telecom
                </ion-toggle>
                <ion-toggle ng-model="pertenece.exclusivo" toggle-class="toggle-balanced" ng-change="apPertenece()">
                  Exclusivo A.P
                </ion-toggle>
                <ion-toggle ng-model="pertenece.noaplica" toggle-class="toggle-balanced" ng-change="apPertenece()"
                            ng-if="ei.tipo === '3'">
                  No aplica - Reflector
                </ion-toggle>
              </ion-list>
            </div>
            <div class="item item-divider">
              <ion-toggle ng-model="apoyo.v_pertenece" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
            </div>
          </div>
        </div>
      </ion-slide-page>

      <ion-slide-page style="background-color: white; overflow-y: scroll;"
                      ng-if="apoyo.pertenece === 1 || apoyo.pertenece === 3">
        <div class="padding">
          <div class="padding" style="text-align: center;">
            <h1>Información del Apoyo</h1>
          </div>
          <div class="card" ng-if=" apoyo.pertenece === 1">
            <div class="item item-divider">
              ¿El apoyo de Cens, de qué tipo es?
            </div>
            <div class="item item-text-wrap">
              <ion-list>
                <ion-toggle ng-model="apType.concreto" toggle-class="toggle-balanced" ng-change="apTipo()">
                  Concreto
                </ion-toggle>
                <ion-toggle ng-model="apType.metalico" toggle-class="toggle-balanced" ng-change="apTipo()">
                  Metálico
                </ion-toggle>
                <ion-toggle ng-model="apType.fibra" toggle-class="toggle-balanced" ng-change="apTipo()">
                  Fibra
                </ion-toggle>
                <ion-toggle ng-model="apType.riel" toggle-class="toggle-balanced" ng-change="apTipo()">
                  Riel
                </ion-toggle>
                <ion-toggle ng-model="apType.madera" toggle-class="toggle-balanced" ng-change="apTipo()">
                  Madera
                </ion-toggle>
              </ion-list>
            </div>
          </div>

          <div class="card" ng-if="apoyo.pertenece  === 3">
            <div class="item item-divider">
              ¿Los Apoyos Exclusivos de A.P, de qué tipo son?
            </div>
            <div class="item item-text-wrap">
              <ion-list>
                <ion-toggle ng-model="apType.concreto" toggle-class="toggle-balanced" ng-change="apTipo()">
                  Concreto
                </ion-toggle>
                <ion-toggle ng-model="apType.metalico" toggle-class="toggle-balanced" ng-change="apTipo()">
                  Metálico
                </ion-toggle>
                <ion-toggle ng-model="apType.fibra" toggle-class="toggle-balanced" ng-change="apTipo()">
                  Fibra
                </ion-toggle>
              </ion-list>
            </div>
          </div>

          <div class="padding">
            <ion-toggle ng-model="apoyo.v_tipo" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
          </div>
        </div>
      </ion-slide-page>

      <ion-slide-page style="background-color: white; overflow-y: scroll;" ng-if="apoyo.pertenece > 0">
        <div class="padding">
          <div class="padding">
            <h1>Longitud de Apoyo</h1>
          </div>
          <div ng-if="apoyo.pertenece === 1">
            <div class="card" ng-if="apoyo.tipo === 1">
              <div class="item item-divider">
                ¿Cuál es la longitud del apoyo de Concreto?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'8 Mts'">8 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'10 Mts'">10 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'12 Mts'">12 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'16 Mts'">16 Mts</ion-radio>
                </ion-list>
              </div>
            </div>

            <div class="card" ng-if="apoyo.tipo === 4">
              <div class="item item-divider">
                ¿Cuál es la longitud del apoyo de Riel?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'8 Mts'">8 Mts</ion-radio>
                </ion-list>
              </div>
            </div>

            <div class="card" ng-if="apoyo.tipo === 5">
              <div class="item item-divider">
                ¿Cuál es la longitud del apoyo de Madera?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'8 Mts'">8 Mts</ion-radio>
                </ion-list>
              </div>
            </div>

            <div class="card" ng-if="apoyo.tipo === 2">
              <div class="item item-divider">
                ¿Cuál es la longitud del apoyo Metálico?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'8 Mts'">8 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'10 Mts'">10 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'12 Mts'">12 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'14 Mts'">14 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'16 Mts'">16 Mts</ion-radio>
                </ion-list>
              </div>
            </div>

            <div class="card" ng-if="apoyo.tipo === 3">
              <div class="item item-divider">
                ¿Cuál es la longitud del apoyo en Fibra?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'8 Mts'">8 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'10 Mts'">10 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'12 Mts'">12 Mts</ion-radio>
                </ion-list>
              </div>
            </div>
          </div>

          <div ng-if="apoyo.pertenece === 3">
            <div class="card" ng-if="apoyo.tipo === 1">
              <div class="item item-divider">
                ¿Cuál es la longitud del apoyo de Concreto?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'8 Mts'">8 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'10 Mts'">10 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'12 Mts'">12 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'16 Mts'">16 Mts</ion-radio>
                </ion-list>
              </div>
            </div>
            <div class="card" ng-if="apoyo.tipo === 2">
              <div class="item item-divider">
                ¿Cuál es la longitud del apoyo Metálico?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'8 Mts'">8 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'10 Mts'">10 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'12 Mts'">12 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'14 Mts'">14 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'16 Mts'">16 Mts</ion-radio>
                </ion-list>
              </div>
            </div>

            <div class="card" ng-if="apoyo.tipo === 3">
              <div class="item item-divider">
                ¿Cuál es la longitud del apoyo en Fibra?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'8 Mts'">8 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'10 Mts'">10 Mts</ion-radio>
                </ion-list>
              </div>
            </div>
          </div>

          <div ng-if="apoyo.pertenece === 2">
            <div class="card">
              <div class="item item-divider">
                ¿Cuál es la longitud del apoyo de Concreto Telecom?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'8 Mts'">8 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'10 Mts'">10 Mts</ion-radio>
                  <ion-radio ng-model="apoyo.longitud" ng-value="'12 Mts'">12 Mts</ion-radio>
                </ion-list>
              </div>
            </div>
          </div>

          <div class="item item-divider">
            <ion-toggle ng-model="apoyo.v_longitud" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
          </div>

        </div>
      </ion-slide-page>

      <ion-slide-page style="background-color: white; overflow-y: scroll;" ng-if="apoyo.longitud !== ''">
        <div class="padding">
          <div class="padding" style="text-align: center;">
            <h1>Novedades encontradas en el Apoyo</h1>
          </div>
          <div class="card">
            <div class="item item-divider">
              Observaciones
            </div>
            <div class="item item-text-wrap">
              <textarea name="observaciones" ng-model="apoyo.observacion" style="width: 100%; height: 100%"
                        placeholder="Digite las observaciones"></textarea>
            </div>
          </div>

          <div class="card">
            <div class="item item-divider">
              Novedades
            </div>
            <div class="item item-text-wrap">
              <ion-toggle ng-model="chk.a" toggle-class="toggle-balanced" ng-change="change()">
                Valla publicitaria
              </ion-toggle>
              <ion-toggle ng-model="chk.b" toggle-class="toggle-balanced" ng-change="change()">
                Poste desplomado
              </ion-toggle>
              <ion-toggle ng-model="chk.c" toggle-class="toggle-balanced" ng-change="change()">
                Poste quebrado
              </ion-toggle>
              <ion-toggle ng-model="chk.d" toggle-class="toggle-balanced" ng-change="change()">
                Poste caído
              </ion-toggle>
              <ion-toggle ng-model="chk.e" toggle-class="toggle-balanced" ng-change="change()">
                Poste corroído
              </ion-toggle>
              <ion-toggle ng-model="chk.f" toggle-class="toggle-balanced" ng-change="noAplica()">
                No aplica
              </ion-toggle>
            </div>
          </div>

          <div class="padding">
            <button class="button button-royal button-block" ng-click="finalizarApoyo()">
              <i class="icon ion-navigate"></i> Finalizar registro de Apoyo
            </button>
          </div>

        </div>
      </ion-slide-page>

    </ion-slides>

  </ion-content>

</ion-view>
