<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Transformador</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding" style="text-align: center;">
      <h1>Registro de Transformador</h1>
    </div>

    <div class="card">

      <div class="item item-divider">
        <i class="icon ion-image"></i> Foto
      </div>

      <div class="item item-text-wrap" style="text-align: center;">
        <img src="{{pictureURl}}" style="width: 50%; height: 30%;">
      </div>

      <div class="item item-divider">
        <button class="button button-positive button-block" ng-click="tomarFoto()">
          <i class="icon ion-ios-camera"></i> Tomar Foto
        </button>
      </div>

    </div>

    <div class="item item-divider">
      ¿De qué potencia es el Transformador?
    </div>
    <div class="item item-text-wrap">

      <ion-list>
        <ion-radio ng-model="data.trafoPotencia" ng-value="'10 Kva'">10 Kva</ion-radio>
        <ion-radio ng-model="data.trafoPotencia" ng-value="'15 kva'">15 kva</ion-radio>
        <ion-radio ng-model="data.trafoPotencia" ng-value="'25 Kva'">25 Kva</ion-radio>
        <ion-radio ng-model="data.trafoPotencia" ng-value="'37.5 Kva'">37.5 Kva</ion-radio>
        <ion-radio ng-model="data.trafoPotencia" ng-value="'50 Kva'">50 Kva</ion-radio>
        <ion-radio ng-model="data.trafoPotencia" ng-value="'75 Kva'">75 Kva</ion-radio>
      </ion-list>

    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <label class="item item-input">
          <input type="text" ng-model="data.trafoSerial" placeholder="Serial del transformador">
        </label>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Observaciones
      </div>
      <div class="item item-text-wrap">
        <textarea name="observaciones" ng-model="data.trafoObservaciones" style="width: 100%"
                  placeholder="Digite las observaciones"></textarea>
      </div>
    </div>

    <div class="padding">
      <ion-toggle ng-model="data.trafoValidar" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
    </div>

    <div class="padding">

      <button type="button" class="button button-calm button-block" ng-click="saveTrafo()">
        <i class="icon ion-navigate"></i> Continuar
      </button>

    </div>


  </ion-content>

</ion-view>
