<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-energized">
    <h1 class="title">Registro del Red</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">

    <ion-slides options="options" slider="data.slider" active-slide="1" show-pager="false">
      <ion-slide-page style="background-color: white; overflow-y: scroll;">
        <div class="padding">

          <div class="padding" style="text-align: center;">
            <h3>Registro de la Red</h3>
          </div>
          <div class="card">
            <div class="item item-divider">
              ¿Qué tipo de Red es?
            </div>
            <div class="item item-text-wrap">
              <ion-list>
                <ion-toggle ng-model="redComp.cens" toggle-class="toggle-calm" ng-change="redCompf()">
                  Compartida con Cens
                </ion-toggle>
                <ion-toggle ng-model="redComp.exclu" toggle-class="toggle-calm" ng-change="redCompf()">
                  Exclusivos A.P
                </ion-toggle>
              </ion-list>
            </div>
          </div>
          <div class="item item-divider">
            <ion-toggle ng-model="red.v_tipo" toggle-class="toggle-balanced">
              ¿Validar?
            </ion-toggle>
          </div>

        </div>
      </ion-slide-page>

      <!-- Longitude de la red -->
      <ion-slide-page style="background-color: white; overflow-y: scroll;" ng-if="red.tipo === 2">

        <div class="padding">
          <div class="padding" style="text-align: center;">
            <h3>Longitud de la Red</h3>
          </div>
          <div class="card">
            <div class="item item-divider">
              ¿Tipo de Red?
            </div>
            <div class="list">
              <ion-list>
                <ion-radio ng-model="red.aerea" ng-value="'1'">Aerea</ion-radio>
                <ion-radio ng-model="red.aerea" ng-value="'0'">Subterranea</ion-radio>
              </ion-list>
            </div>
          </div>

          <div class="card">
            <div class="item item-divider">
              Longitud de la Red
            </div>
            <div class="list">
              <label class="item item-input">
                <input type="number" ng-model="red.distancia" placeholder="Longitud de la red">
              </label>
            </div>
            <div class="item item-divider">
              <ion-toggle ng-model="red.v_distancia" toggle-class="toggle-balanced">
                ¿Validar?
              </ion-toggle>
            </div>
          </div>
        </div>

      </ion-slide-page>

      <!-- Novedades Red -->
      <ion-slide-page style="background-color: white; overflow-y: scroll;" ng-if="red.distancia >= 0">

        <div class="padding">
          <div class="padding" style="text-align: center;">
            <h3>Novedades encontradas en la Red</h3>
          </div>
          <div class="card">
            <div class="item item-divider">
              Observaciones
            </div>
            <div class="item item-text-wrap">
        <textarea name="observaciones" ng-model="red.observacion" style="width: 100%"
                  placeholder="Digite las observaciones"></textarea>
            </div>
          </div>
          <div class="card">

            <div class="item item-divider">
              Novedades
            </div>
            <div class="item item-text-wrap">
              <ion-radio ng-model="red.novedades" ng-value="'Red Abierta'">
                Red Abierta
              </ion-radio>
              <ion-radio ng-model="red.novedades" ng-value="'Red Encauchetada'">
                Red Encauchetada
              </ion-radio>
            </div>

          </div>

          <div class="padding">
            <button class="button button-energized button-block" ng-click="finalRed()">
              <i class="icon ion-navigate"></i> Finalizar registro de Red
            </button>
          </div>

        </div>

      </ion-slide-page>

    </ion-slides>

  </ion-content>

</ion-view>
