<ion-view title="Nuevo Registro de Activo" view-cached="false">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Nuevo Registro</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">

    <div class="card" ng-if="activo.id === undefined">
      <div class="item item-divider">
        <i class="icon ion-earth"></i> Geolocalización
      </div>
      <div class="item item-text-wrap">
        <input type="text" placeholder="Latitud" ng-model="dataActivo.latitud" readonly>
        <input type="text" placeholder="Longitud" ng-model="dataActivo.longitud" readonly>
      </div>
      <div class="item item-divider">
        <button class="button button-positive button-block" ng-click="tomarGeolocacion()">
          <i class="icon ion-ios-location"></i> Geolocalización
        </button>
      </div>
    </div>

    <div class="card" ng-if="activo.id === undefined">
      <div class="item item-divider">
        <i class="icon ion-earth"></i> Direccion
      </div>
      <div class="item item-text-wrap">

        <label>Direccion</label>
        <textarea style="width: 100%;" ng-model="dataActivo.direccion"></textarea>
        <hr/>
        <label>Nomenclatura</label>
        <input type="text" placeholder="nomenclatura" ng-model="dataActivo.nomenclatura">
        <hr/>
        <label>Barrio</label>
        <input type="text" id="default" list="languages" placeholder="Digite el barrio" ng-model="dataActivo.barrio">

        <datalist id="languages">
          <option value="{{item}}" ng-repeat="item in states">
        </datalist>
      </div>
    </div>

    <div class="card" ng-if="activo.id === undefined">
      <div class="item item-divider">
        <i class="icon ion-earth"></i> Seleccione tipo de registro
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-radio ng-model="data.type" ng-value="1">Luminarias</ion-radio>
          <ion-radio ng-model="data.type" ng-value="2">Faroles</ion-radio>
          <ion-radio ng-model="data.type" ng-value="3">Reflectores</ion-radio>
          <ion-radio ng-model="data.type" ng-value="4">Terras</ion-radio>
          <ion-radio ng-model="data.type" ng-value="5">Transformador</ion-radio>
        </ion-list>
      </div>
    </div>


    <div class="padding">
      <button class="button button-positive button-block" ng-click="toContinue()" ng-if="activo.id !== undefined">
        <i class="icon "></i> Continuar el registro actual
      </button>
      <button class="button button-positive button-block" ng-click="newActivo()" ng-if="activo.id === undefined">
        <i class="icon "></i> Guardar y continuar
      </button>
    </div>
    <br/><br/><br/>
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button button-icon ion-close-circled" ng-click="cancel()"> Cancelar</button>
    </div>
  </ion-footer-bar>

</ion-view>
