<ion-view title="Perfil de Usuario">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Perfil de Operador</h1>
    <!--<div class="buttons">
      <button class="button" ng-click="manual()"><i class="icon ion-information"></i></button>
    </div>-->
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding" style="text-align: center;">
      <img src="{{imageProfile}}" style="width: 40%;">
      <h4>{{user.usuario.nombres}} {{user.usuario.apellidos}}</h4>
      <h5>- Operador -</h5>
    </div>

    <div class="padding">
      <button class="button button-block button-positive" ng-click="toNewRegister()" ng-if="activo.id === undefined">
        <i class="icon ion-ios-cloud-upload"></i> Nuevo Registro
      </button>
      <button class="button button-block button-balanced" ng-click="toContinue()" ng-if="activo.id !== undefined">
      <i class="icon ion-ios-cloud-upload"></i> Continuar el registro
    </button>
    </div>

  </ion-content>

  <div class="tabs tabs-icon-top tabs-positive">
    <a class="tab-item" ng-click="toEstadisticas()">
      <i class="icon ion-ios-pie"></i>
      Estadísticas
    </a>
    <!--<a class="tab-item" ng-click="toRegistros()">
      <i class="icon ion-android-apps"></i>
      Registros
    </a>-->
    <a class="tab-item" ng-click="toRegLocales()">
      <i class="icon ion-ios-folder"></i>
      Registros Locales
    </a>
    <a class="tab-item" ng-click="toInfo()">
      <i class="icon ion-information-circled"></i>
      Información
    </a>
  </div>

</ion-view>
