<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-royal">
    <h1 class="title">Registro del Apoyo</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding" style="text-align: center;">
      <h1>Novedades encontradas en el Apoyo</h1>
    </div>
    <div class="card">
      <div class="item item-divider">
        Observaciones
      </div>
      <div class="item item-text-wrap">
        <textarea name="observaciones" ng-model="data.observaciones" style="width: 100%; height: 100%" placeholder="Digite las observaciones"></textarea>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Novedades
      </div>
      <div class="item item-text-wrap">
        <ion-toggle ng-model="chk.a" toggle-class="toggle-balanced" ng-change="change()">Valla publicitaria</ion-toggle>
        <ion-toggle ng-model="chk.b" toggle-class="toggle-balanced" ng-change="change()">Poste desplomado</ion-toggle>
        <ion-toggle ng-model="chk.c" toggle-class="toggle-balanced" ng-change="change()">Poste quebrado</ion-toggle>
        <ion-toggle ng-model="chk.d" toggle-class="toggle-balanced" ng-change="change()">Poste caído</ion-toggle>
        <ion-toggle ng-model="chk.e" toggle-class="toggle-balanced" ng-change="change()">Poste corroído</ion-toggle>
        <ion-toggle ng-model="chk.f" toggle-class="toggle-balanced" ng-change="noAplica()">No aplica</ion-toggle>
      </div>
    </div>

    <div class="padding">
      <button class="button button-royal button-block" ng-click="finalizarApoyo()">
        <i class="icon ion-navigate"></i> Finalizar registro de Apoyo
      </button>
    </div>

  </ion-content>

</ion-view>
