<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-royal">
    <h1 class="title">Registro del Apoyo</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding">
      <h1>Longitud de Apoyo</h1>
    </div>
    <div ng-if="dataApoyo.quien === 'Cens'">
      <div class="card" ng-if="dataApoyo.tipoApoyo === 'Concreto'">
        <div class="item item-divider">
          ¿Cuál es la longitud del apoyo de Concreto?
        </div>
        <div class="item item-text-wrap">
          <ion-list>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'8 Mts'">8 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'10 Mts'">10 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'12 Mts'">12 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'16 Mts'">16 Mts</ion-radio>
          </ion-list>
        </div>
      </div>

      <div class="card" ng-if="dataApoyo.tipoApoyo === 'Riel'">
        <div class="item item-divider">
          ¿Cuál es la longitud del apoyo de Concreto?
        </div>
        <div class="item item-text-wrap">
          <ion-list>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'8 Mts'">8 Mts</ion-radio>
          </ion-list>
        </div>
      </div>

      <div class="card" ng-if="dataApoyo.tipoApoyo === 'Madera'">
        <div class="item item-divider">
          ¿Cuál es la longitud del apoyo de Concreto?
        </div>
        <div class="item item-text-wrap">
          <ion-list>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'8 Mts'">8 Mts</ion-radio>
          </ion-list>
        </div>
      </div>

      <div class="card" ng-if="dataApoyo.tipoApoyo === 'Metalico'">
        <div class="item item-divider">
          ¿Cuál es la longitud del apoyo Metálico?
        </div>
        <div class="item item-text-wrap">
          <ion-list>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'8 Mts'">8 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'10 Mts'">10 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'12 Mts'">12 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'14 Mts'">14 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'16 Mts'">16 Mts</ion-radio>
          </ion-list>
        </div>
      </div>

      <div class="card" ng-if="dataApoyo.tipoApoyo === 'Fibra'">
        <div class="item item-divider">
          ¿Cuál es la longitud del apoyo en Fibra?
        </div>
        <div class="item item-text-wrap">
          <ion-list>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'8 Mts'">8 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'10 Mts'">10 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.longCens" ng-value="'12 Mts'">12 Mts</ion-radio>
          </ion-list>
        </div>
      </div>


    </div>

    <div ng-if="dataApoyo.quien === 'Exclusivo A.P'">
      <div class="card" ng-if="dataApoyo.tipoApoyo === 'Concreto'">
        <div class="item item-divider">
          ¿Cuál es la longitud del apoyo de Concreto?
        </div>
        <div class="item item-text-wrap">
          <ion-list>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'8 Mts'">8 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'10 Mts'">10 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'12 Mts'">12 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'16 Mts'">16 Mts</ion-radio>
          </ion-list>
        </div>
      </div>
      <div class="card" ng-if="dataApoyo.tipoApoyo === 'Metalico'">
        <div class="item item-divider">
          ¿Cuál es la longitud del apoyo Metálico?
        </div>
        <div class="item item-text-wrap">
          <ion-list>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'8 Mts'">8 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'10 Mts'">10 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'12 Mts'">12 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'14 Mts'">14 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'16 Mts'">16 Mts</ion-radio>
          </ion-list>
        </div>
      </div>

      <div class="card" ng-if="dataApoyo.tipoApoyo === 'Fibra'">
        <div class="item item-divider">
          ¿Cuál es la longitud del apoyo en Fibra?
        </div>
        <div class="item item-text-wrap">
          <ion-list>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'8 Mts'">8 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.exclusivo" ng-value="'10 Mts'">10 Mts</ion-radio>
          </ion-list>
        </div>
      </div>
    </div>

    <div ng-if="dataApoyo.quien === 'Telecom'">
      <div class="card">
        <div class="item item-divider">
          ¿Cuál es la longitud del apoyo de Concreto Telecom?
        </div>
        <div class="item item-text-wrap">
          <ion-list>
            <ion-radio ng-model="longApoyo.telecom" ng-value="'8 Mts'">8 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.telecom" ng-value="'10 Mts'">10 Mts</ion-radio>
            <ion-radio ng-model="longApoyo.telecom" ng-value="'12 Mts'">12 Mts</ion-radio>
          </ion-list>
        </div>
      </div>
    </div>


    <div class="item item-divider">
      <ion-toggle ng-model="dataApoyo.apValidaLong" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
    </div>

    <div class="padding">
      <button type="button" class="button button-royal button-block" ng-click="toBrazo()">
        <i class="icon ion-navigate"></i> Continuar
      </button>
    </div>

  </ion-content>

</ion-view>
