<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-royal">
    <h1 class="title">Registro del Apoyo</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding" style="text-align: center;">
      <h1>Información del Apoyo</h1>
    </div>
    <div class="card">
      <div class="item item-divider">
        ¿A quien pertenece el apoyo?
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-radio ng-model="dataApoyo.quien" ng-value="'Cens'">Cens</ion-radio>
          <ion-radio ng-model="dataApoyo.quien" ng-value="'Telecom'">Telecom</ion-radio>
          <ion-radio ng-model="dataApoyo.quien" ng-value="'Exclusivo A.P'">Exclusivo A.P</ion-radio>
        </ion-list>
      </div>
      <div class="item item-divider">
        <ion-toggle ng-model="dataApoyo.apValidaPertenece" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
      </div>
    </div>
    <div class="padding">
      <button type="button" class="button button-royal button-block" ng-click="toTipoApoyo()">
        <i class="icon ion-navigate"></i> Continuar
      </button>
    </div>

  </ion-content>

</ion-view>
