<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-royal">
    <h1 class="title">Registro del Apoyo</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding" style="text-align: center;">
      <h1>Información del Apoyo</h1>
    </div>
    <div class="card" ng-if="dataApoyo.apPert === 'Cens'">
      <div class="item item-divider">
        ¿El apoyo de Cens, de qué tipo es?
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-radio ng-model="apoyo.tipo" ng-value="'Concreto'">Concreto</ion-radio>
          <ion-radio ng-model="apoyo.tipo" ng-value="'Metalico'">Metálico</ion-radio>
          <ion-radio ng-model="apoyo.tipo" ng-value="'Fibra'">Fibra</ion-radio>
          <ion-radio ng-model="apoyo.tipo" ng-value="'Riel'">Riel</ion-radio>
          <ion-radio ng-model="apoyo.tipo" ng-value="'Madera'">Madera</ion-radio>
        </ion-list>
      </div>
    </div>

    <div class="card" ng-if="dataApoyo.apPert === 'Exclusivo A.P'">
      <div class="item item-divider">
        ¿Los Apoyos Exclusivos de A.P, de qué tipo son?
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-radio ng-model="apoyo.tipo" ng-value="'Concreto'">Concreto</ion-radio>
          <ion-radio ng-model="apoyo.tipo" ng-value="'Metalico'">Metálico</ion-radio>
          <ion-radio ng-model="apoyo.tipo" ng-value="'Fibra'">Fibra</ion-radio>
        </ion-list>
      </div>
    </div>

    <div class="padding">
      <ion-toggle ng-model="dataApoyo.apValidaTipo" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
    </div>

    <div class="padding">
      <button type="button" class="button button-royal button-block" ng-click="toLong()">
        <i class="icon ion-navigate"></i> Continuar
      </button>
    </div>

  </ion-content>

</ion-view>
