<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-calm">
    <!--<div class="buttons">
      <button class="button button-icon ion-ios-undo" ng-click="toBak()"></button>
    </div>-->
    <h1 class="title">Elementos de Iluminación</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header" scroll="true">

    <ion-slides options="options" slider="data.slider" active-slide="1" show-pager="false">
      <ion-slide-page style="background-color: white; overflow-y: scroll;">

        <div class="padding">
          <div class="padding" style="text-align: center;">
            <h1>Nuevo Elemento de Iluminación</h1>
          </div>

          <div class="card">

            <div class="item item-divider">
              <i class="icon ion-image"></i> Foto
            </div>

            <div class="item item-text-wrap" style="text-align: center;">
              <img src="{{pictureURl}}" style="width: 50%; height: 30%;">
            </div>

            <div class="item item-divider">
              <button class="button button-calm button-block" ng-click="tomarFoto()">
                <i class="icon ion-ios-camera"></i> Tomar Foto
              </button>
            </div>

            <div class="item item-text-wrap">
              <div class="item item-divider">
                Tipo de Tecnología
              </div>

              <ion-list ng-show="ei.tipo === '2'">
                <ion-toggle ng-model="tecnologia.sodio" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Sodio
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.led" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Led
                </ion-toggle>
              </ion-list>

              <ion-list ng-show="ei.tipo === '4'">
                <ion-toggle ng-model="tecnologia.sodio" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Sodio
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.led" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Led
                </ion-toggle>
              </ion-list>

            </div>

            <div class="padding">
              <ion-toggle ng-model="ei.v_tecnologia" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
            </div>

          </div>
        </div>

      </ion-slide-page>

      <!-- Potencia -->
      <ion-slide-page style="background-color: white; overflow-y: scroll;" ng-if="ei.tecnologia !== ''">

        <div class="padding">

          <div class="padding" style="text-align: center;">
            <h1>Potencia</h1>
          </div>

          <!-- Farol -->
          <div class="card" ng-if="ei.tipo === '2'">
            <!-- Tecnologia de sodio -->
            <div ng-if="ei.tecnologia === 'sodio'">
              <div class="item item-divider">
                ¿Cuál es la potencia del farol de sodio?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-toggle ng-model="farol.potenciaSodio70" toggle-class="toggle-balanced"
                              ng-change="eiFarolPotSodio()">
                    70 W
                  </ion-toggle>
                  <ion-toggle ng-model="farol.potenciaSodio150" toggle-class="toggle-balanced"
                              ng-change="eiFarolPotSodio()">
                    150 W
                  </ion-toggle>
                  <ion-toggle ng-model="farol.potenciaSodio250" toggle-class="toggle-balanced"
                              ng-change="eiFarolPotSodio()">
                    250 W
                  </ion-toggle>
                </ion-list>
              </div>

            </div>
            <!-- Tecnologia de led -->
            <div ng-if="ei.tecnologia === 'led'">
              <div class="item item-divider">
                ¿Cuál es la potencia del farol de led?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-toggle ng-model="farol.potenciaLed40" toggle-class="toggle-balanced"
                              ng-change="eiFarolPotLed()">
                    40 W
                  </ion-toggle>
                  <ion-toggle ng-model="farol.potenciaLed60" toggle-class="toggle-balanced"
                              ng-change="eiFarolPotLed()">
                    60 W
                  </ion-toggle>
                </ion-list>
              </div>

            </div>
          </div>

          <!-- Terras -->
          <div class="card" ng-if="ei.tipo === '4'">
            <!-- Tecnologia de led -->
            <div ng-if="ei.tecnologia === 'led'">
              <div class="item item-divider">
                ¿Cuál es la potencia de terra led?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="ei.potencia" ng-value="'5 W'">5 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'10 W'">10 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'15 W'">15 W</ion-radio>
                </ion-list>
              </div>
            </div>
            <!-- Tecnologia de sodio -->
            <div ng-if="ei.tecnologia === 'sodio'">
              <div class="item item-divider">
                ¿Cuál es la potencia de terra de sodio?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="ei.potencia" ng-value="'400 W'">400 W</ion-radio>
                </ion-list>
              </div>
            </div>
          </div>

          <div class="padding">
            <ion-toggle ng-model="ei.v_potencia" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
          </div>

        </div>

      </ion-slide-page>

      <!-- NOVEDADES -->
      <ion-slide-page style="background-color: white; overflow-y: scroll;" ng-if="ei.potencia">
        <div class="padding">
          <div class="padding" style="text-align: center;">
            <h1>Novedades encontradas en la Luminaria</h1>
          </div>
          <div class="card">
            <div class="item item-divider">
              Observaciones
            </div>
            <div class="item item-text-wrap">
        <textarea name="observaciones" ng-model="ei.observacion" style="width: 100%"
                  placeholder="Digite las observaciones"></textarea>
            </div>
          </div>
          <div class="card" ng-show="ei.tipo === '1' || ei.tipo === '3'">
            <div class="item item-text-wrap">
              <label class="item item-input">
                <input type="text" ng-model="ei.serial" placeholder="Serial de la luminaria">
              </label>
            </div>
          </div>
          <div class="card">
            <div class="item item-divider">
              Novedades
            </div>
            <div class="item item-text-wrap">
              <ion-toggle ng-model="chk.h" toggle-class="toggle-calm" ng-change="change()">
                Elemento Privado
              </ion-toggle>
              <ion-toggle ng-model="chk.i" toggle-class="toggle-calm" ng-change="change()">
                Elemento Público
              </ion-toggle>
              <ion-toggle ng-model="chk.a" toggle-class="toggle-calm" ng-change="change()">
                Iluminación caída
              </ion-toggle>
              <ion-toggle ng-model="chk.b" toggle-class="toggle-calm" ng-change="change()">
                Sin bombillo.
              </ion-toggle>
              <ion-toggle ng-model="chk.c" toggle-class="toggle-calm" ng-change="change()">
                Directa
              </ion-toggle>
              <ion-toggle ng-model="chk.d" toggle-class="toggle-calm" ng-change="change()">
                Elemento roto.
              </ion-toggle>
              <ion-toggle ng-model="chk.e" toggle-class="toggle-calm" ng-change="change()">
                Bombillo expuesto
              </ion-toggle>
              <ion-toggle ng-model="chk.f" toggle-class="toggle-calm" ng-change="change()">
                Necesario Poda
              </ion-toggle>
              <ion-toggle ng-model="chk.g" toggle-class="toggle-calm" ng-change="noAplica()">
                No aplica
              </ion-toggle>
            </div>
          </div>


          <div class="padding">
            <button class="button button-calm button-block" ng-click="finalEi()">
              <i class="icon ion-navigate"></i> Finalizar Elemento de Iluminación
            </button>
          </div>

        </div>

      </ion-slide-page>


    </ion-slides>


  </ion-content>

</ion-view>
