<ion-view title="Operadores">

  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="back()"><i class="icon ion-reply"></i></button>
    </div>
    <h1 class="title">Operadores Asignados</h1>
    <div class="buttons">
      <button class="button" ng-click="refresh()"><i class="icon ion-loop"></i></button>
    </div>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding" style="text-align: center;">
      <h1>Listado de Operadores Asignados</h1>
    </div>

    <div class="list card" ng-if="cantOp > 0" ng-repeat="item in dataOp">

      <div class="item item-avatar">
        <img src="{{urlImageProfile}}{{item.profile_image}}">
        <h2>{{item.nombres}}</h2>
      </div>

      <div class="item item-image">
        <div class="row header">
          <div class="col">Realizado</div>
          <div class="col">Meta Hoy</div>
          <div class="col">Meta Global</div>
          <div class="col">Historico</div>
        </div>
        <div class="row">
          <div class="col">{{item.registrosHoy}}</div>
          <div class="col">{{item.meta_hoy}}</div>
          <div class="col">{{item.meta_global}}</div>
          <div class="col">{{item.registros}}</div>
        </div>
      </div>

    </div>

    <div class="list card" ng-if="cantOp === 0">
      No tiene operadores asignados.
    </div>
  </ion-content>

</ion-view>
