<ion-view title="Perfil de Usuario">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Perfil de Supervisor</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding" style="text-align: center;">
      <img src="{{imageProfile}}" style="width: 40%;">
      <h4>{{user.usuario.nombres}} {{user.usuario.apellidos}}</h4>
      <h5>- Supervisor -</h5>
    </div>

    <div class="card">
      <div class="item item-divider">
        Totales del Equipo
      </div>
      <div class="item item-text-wrap">
        <div class="row header">
          <div class="col">Realizado</div>
          <div class="col">Meta Hoy</div>
          <div class="col">Meta Global</div>
          <div class="col">Historico</div>
        </div>
        <div class="row">
          <div class="col">{{data.realizado}}</div>
          <div class="col">{{data.meta_hoy}}</div>
          <div class="col">{{data.meta_global}}</div>
          <div class="col">{{data.historico}}</div>
        </div>
      </div>
      <div class="item item-divider">
        <button class="button button-block button-positive" ng-click="updateInfo()">
          <i class="icon ion-loop"></i> Actualizar Datos
        </button>
      </div>
    </div>

  </ion-content>

  <div class="tabs tabs-icon-top tabs-positive">
    <a class="tab-item" ng-click="toValidacion()">
      <i class="icon ion-ios-pie"></i>
      Registros por validar
    </a>
    <a class="tab-item" ng-click="toOperadores()">
      <i class="icon ion-person-stalker"></i>
      Operadores
    </a>
    <a class="tab-item" ng-click="toInfo()">
      <i class="icon ion-information-circled"></i>
      Información
    </a>
  </div>

</ion-view>
