<ion-view title="Perfil de Usuario">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="back()"><i class="icon ion-reply"></i></button>
    </div>
    <h1 class="title">Registros por Validar</h1>
    <div class="buttons">
      <button class="button" ng-click="actData()"><i class="icon ion-loop"></i></button>
    </div>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding" style="text-align: center;">
      <h1>Lstado de registros por validar</h1>
    </div>

    <div class="list card" ng-if="validaEI > 0" ng-repeat="item in dataEI">

      <div class="item item-avatar">

        <img src="{{urlImageProfile}}{{item.profile_image}}">
        <h2 ng-if="item.ilTipo === '1'">Luminaria</h2>
        <h2 ng-if="item.ilTipo === '3'">Reflector</h2>
        <p>Registrado por: {{item.nombres}}</p>
      </div>

      <div class="item item-image">
        <img src="{{url}}/storage/fotos/{{item.ilFoto}}" style="width: 50%;">
      </div>

      <a class="item item-icon-left assertive" ng-click="validar('{{item}}', 'ei')">
        <i class="icon ion-log-in"></i>
        Validar
      </a>

    </div>

    <div class="list card" ng-if="validaFT > 0" ng-repeat="item in dataFT">

      <div class="item item-avatar">

        <img src="{{urlImageProfile}}{{item.profile_image}}">
        <h2 ng-if="item.ilTipo === '2'">Farol</h2>
        <h2 ng-if="item.ilTipo === '4'">Terra</h2>
        <p>Registrado por: {{item.nombres}}</p>
      </div>

      <div class="item item-image">
        <img src="{{url}}/storage/fotos/{{item.ilFoto}}" style="width: 50%;">
      </div>

      <a class="item item-icon-left assertive" ng-click="validar('{{item}}', 'ei')">
        <i class="icon ion-log-in"></i>
        Validar
      </a>

    </div>

    <div class="list card" ng-if="validaTrf > 0" ng-repeat="item in dataTrf">

      <div class="item item-avatar">

        <img src="{{urlImageProfile}}{{item.profile_image}}">
        <h2>Transformador</h2>
        <p>Registrado por: {{item.nombres}}</p>
      </div>

      <div class="item item-image">
        <img src="{{url}}/storage/fotos/{{item.trafoFoto}}" style="width: 50%;">
      </div>

      <a class="item item-icon-left assertive" ng-click="validar('{{item}}', 'trafo')">
        <i class="icon ion-log-in"></i>
        Validar
      </a>

    </div>

    <div class="padding" ng-if="validaEI === 0 && validaFT === 0">
      No hay registros por validar
    </div>

  </ion-content>

</ion-view>
