<ion-view title="Perfil de Usuario">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="back()"><i class="icon ion-reply"></i></button>
    </div>
    <h1 class="title">Validar Transformador</h1>
  </ion-header-bar>

  <ion-content>

    <div class="padding" style="text-align: center;">
      <h3>Transformador</h3>
    </div>

    <!-- TRAFO -->
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{urlImageProfile}}{{item.profile_image}}">
        <p>{{item.nombres}}</p>
      </div>

      <div class="item item-body">
        <div style="text-align: center;">
          <img src="{{url}}/storage/fotos/{{item.trafoFoto}}" style="width: 50%;">
        </div>
        <p><b>Latitud: </b>{{item.latitud}} <b>Longitud: </b>{{item.longitud}}</p>
        <p><b>Dirección: </b>{{item.direccion}} <b>Nomenclatura: </b>{{item.nomenclatura}}</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Potencia: {{item.trafoPotencia}}
      </div>
      <div class="item item-text-wrap" ng-if="item.trafo_validar === '1'">
        <ion-list>
          <ion-radio ng-model="trf.trafoPotencia" ng-value="'10 Kva'">10 Kva</ion-radio>
          <ion-radio ng-model="trf.trafoPotencia" ng-value="'15 kva'">15 kva</ion-radio>
          <ion-radio ng-model="trf.trafoPotencia" ng-value="'25 Kva'">25 Kva</ion-radio>
          <ion-radio ng-model="trf.trafoPotencia" ng-value="'37.5 Kva'">37.5 Kva</ion-radio>
          <ion-radio ng-model="trf.trafoPotencia" ng-value="'50 Kva'">50 Kva</ion-radio>
          <ion-radio ng-model="trf.trafoPotencia" ng-value="'75 Kva'">75 Kva</ion-radio>
        </ion-list>
      </div>
      <div class="item item-divider" ng-if="item.trafoObs">
        Observaciones
      </div>
      <div class="item item-text-wrap" ng-if="item.trafoObs">
        {{item.trafoObs}}
      </div>
      <div class="item item-divider" ng-if="item.trafoSerial">
        Serial
      </div>
      <div class="item item-text-wrap" ng-if="item.trafoSerial">
        {{item.trafoSerial}}
      </div>

    </div>

    <div class="card">
      <div class="item item-divider">
        Apoyo
      </div>
      <div class="item item-divider" ng-if="item.apPertenece === '1'">
        Pertenece: Cens
      </div>
      <div class="item item-divider" ng-if="item.apPertenece === '2'">
        Pertenece: Telecom
      </div>
      <div class="item item-divider" ng-if="item.apPertenece === '3'">
        Pertenece: Exclusivo A.P
      </div>
      <div class="item item-text-wrap" ng-if="item.apVPertenece === '1'">
        <ion-list>
          <ion-radio ng-model="trf.apPertenece" ng-value="'Cens'">Cens</ion-radio>
          <ion-radio ng-model="trf.apPertenece" ng-value="'Telecom'">Telecom</ion-radio>
          <ion-radio ng-model="trf.apPertenece" ng-value="'Exclusivo A.P'">Exclusivo A.P</ion-radio>
        </ion-list>
      </div>
      <div class="item item-divider" ng-if="item.apTipo === '1'">
        Topo: Concreto
      </div>
      <div class="item item-divider" ng-if="item.apTipo === '2'">
        Topo: Metálico
      </div>
      <div class="item item-divider" ng-if="item.apTipo === '3'">
        Topo: Fibra
      </div>
      <div class="item item-divider" ng-if="item.apTipo === '4'">
        Topo: Riel
      </div>
      <div class="item item-divider" ng-if="item.apTipo === '5'">
        Topo: Madera
      </div>
      <div class="item item-text-wrap" ng-if="item.apVTipo === '1'">
        <ion-list>
          <ion-radio ng-model="trf.apTipo" ng-value="'Concreto'">Concreto</ion-radio>
          <ion-radio ng-model="trf.apTipo" ng-value="'Metalico'">Metálico</ion-radio>
          <ion-radio ng-model="trf.apTipo" ng-value="'Fibra'">Fibra</ion-radio>
          <ion-radio ng-model="trf.apTipo" ng-value="'Riel'">Riel</ion-radio>
          <ion-radio ng-model="trf.apTipo" ng-value="'Madera'">Madera</ion-radio>
        </ion-list>
      </div>
      <div class="item item-divider">
        Longitud: {{item.apLong}}
      </div>
      <div class="item item-text-wrap" ng-if="item.apVLong === '1'">
        <ion-list>
          <ion-radio ng-model="trf.apLongitud" ng-value="'8 Mts'">8 Mts</ion-radio>
          <ion-radio ng-model="trf.apLongitud" ng-value="'10 Mts'">10 Mts</ion-radio>
          <ion-radio ng-model="trf.apLongitud" ng-value="'12 Mts'">12 Mts</ion-radio>
          <ion-radio ng-model="trf.apLongitud" ng-value="'14 Mts'">14 Mts</ion-radio>
          <ion-radio ng-model="trf.apLongitud" ng-value="'16 Mts'">16 Mts</ion-radio>
        </ion-list>
      </div>
      <div class="item item-divider" ng-if="item.apObs">
        Observaciones:
      </div>
      <div class="item item-text-wrap" ng-if="item.apObs">
        {{item.apObs}}
      </div>
      <div class="item item-divider">
        Novedades:
      </div>
      <div class="item item-text-wrap">
        {{item.apNovedades}}
      </div>
    </div>

    <!-- FIN TRAFO -->

    <div class="padding">
      <button class="button button-block" ng-click="toSave()">Validar</button>
    </div>

  </ion-content>

</ion-view>
