<ion-view title="Perfil de Usuario">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="back()"><i class="icon ion-reply"></i></button>
    </div>
    <h1 class="title">Validar Iluminacion</h1>
  </ion-header-bar>

  <ion-content>

    <div class="padding" style="text-align: center;">
      <h3 ng-if="item.ilTipo === '1'">Luminaria</h3>
      <h3 ng-if="item.ilTipo === '2'">Farol</h3>
      <h3 ng-if="item.ilTipo === '3'">Reflector</h3>
      <h3 ng-if="item.ilTipo === '4'">Terra</h3>
    </div>


    <!-- ACTIVO -->
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{urlImageProfile}}{{item.profile_image}}">
        <p>{{item.nombres}}</p>
      </div>

      <div class="item item-body">
        <div style="text-align: center;">
          <img src="{{url}}/storage/fotos/{{item.ilFoto}}" style="width: 50%;">
        </div>
        <p><b>Latitud: </b>{{item.latitud}} <b>Longitud: </b>{{item.longitud}}</p>
        <p><b>Dirección: </b>{{item.direccion}} <b>Nomenclatura: </b>{{item.nomenclatura}}</p>
      </div>
    </div>
    <!-- FIN ACTIVO -->

    <!-- LUMINARIA -->
    <div ng-if="item.ilTipo === '1'">
      <!-- Luminairia -->
      <div class="card">
        <div class="item item-divider">
          Tecnologia: {{item.ilTecnologia}}
        </div>
        <div class="item item-text-wrap" ng-if="item.v_tecnologia === '1'">
          <ion-list>
            <ion-toggle ng-model="tecnologia.sodio" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
              Sodio
            </ion-toggle>
            <ion-toggle ng-model="tecnologia.led" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
              Led
            </ion-toggle>
            <ion-toggle ng-model="tecnologia.metal_halide" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
              Metal Halide
            </ion-toggle>
            <ion-toggle ng-model="tecnologia.mercurio" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
              Mercurio
            </ion-toggle>
            <ion-toggle ng-model="tecnologia.luz_mixta" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
              Luz Mixta
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider">
          Potencia: {{item.ilNombre}} {{item.ilPotencia}}
        </div>
        <div class="item item-text-wrap" ng-if="item.ilVPotencia === '1'">
          <ion-list ng-if="item.ilTecnologia === 'sodio'">
            <ion-toggle ng-model="luminaria.potenciaSodioA" toggle-class="toggle-balanced"
                        ng-change="eiPostsodio()">
              Tipo A (70 W)
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaSodioB" toggle-class="toggle-balanced"
                        ng-change="eiPostsodio()">
              Tipo B (150 W)
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaSodioC" toggle-class="toggle-balanced"
                        ng-change="eiPostsodio()">
              Tipo C (250 W)
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaSodioD" toggle-class="toggle-balanced"
                        ng-change="eiPostsodio()">
              Tipo D (400 W)
            </ion-toggle>
          </ion-list>
          <ion-list ng-if="item.ilTecnologia === 'led'">
            <ion-toggle ng-model="luminaria.potenciaLedA" toggle-class="toggle-balanced"
                        ng-change="eiPostLed()">
              Tipo A (20W - 42W)
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedB" toggle-class="toggle-balanced"
                        ng-change="eiPostLed()">
              Tipo B (45W - 65W)
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedC" toggle-class="toggle-balanced"
                        ng-change="eiPostLed()">
              Tipo C (77W - 90W)
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedD" toggle-class="toggle-balanced"
                        ng-change="eiPostLed()">
              Tipo D (100W - 120W)
            </ion-toggle>
          </ion-list>
          <ion-list ng-if="item.ilTecnologia === 'metal halide'">
            <ion-toggle ng-model="luminaria.potenciaMH70" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaMH()">
              70 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaMH120" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaMH()">
              120 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaMH400" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaMH()">
              400 W
            </ion-toggle>
          </ion-list>
          <ion-list ng-if="item.ilTecnologia === 'mercurio'">
            <ion-toggle ng-model="luminaria.potenciaMer125" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaMer()">
              125 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaMer250" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaMer()">
              250 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaMer400" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaMer()">
              400 W
            </ion-toggle>
          </ion-list>
          <ion-list ng-if="item.ilTecnologia === 'luz mixta'">
            <ion-toggle ng-model="luminaria.potenciaLmx" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLMx()">
              160 W
            </ion-toggle>
          </ion-list>

          <ion-list ng-if="item.ilNombre === 'A' && item.ilTecnologia === 'led'">
            <ion-toggle ng-model="luminaria.potenciaLedA20" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              20 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedA30" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              30 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedA32" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              32 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedA35" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              35 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedA36" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              36 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedA40" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              40 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedA42" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              42 W
            </ion-toggle>
          </ion-list>
          <ion-list ng-if="item.ilNombre === 'B' && item.ilTecnologia === 'led'">
            <ion-toggle ng-model="luminaria.potenciaLedB45" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              45 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedB46" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              46 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedB47" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              47 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedB50" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              50 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedB55" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              55 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedB60" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              60 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedB65" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              65 W
            </ion-toggle>
          </ion-list>
          <ion-list ng-if="item.ilNombre === 'C' && item.ilTecnologia === 'led'">
            <ion-toggle ng-model="luminaria.potenciaLedC70" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              70 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedC77" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              77 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedC90" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              90 W
            </ion-toggle>
          </ion-list>
          <ion-list ng-if="item.ilNombre === 'D' && item.ilTecnologia === 'led'">
            <ion-toggle ng-model="luminaria.potenciaLedD100" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              100 W
            </ion-toggle>
            <ion-toggle ng-model="luminaria.potenciaLedD120" toggle-class="toggle-balanced"
                        ng-change="eiPotenciaLed()">
              120 W
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider" ng-if="item.ilObs">
          Observaciones
        </div>
        <div class="item item-text-wrap" ng-if="item.ilObs">
          {{item.ilObs}}
        </div>
        <div class="item item-divider" ng-if="item.ilNov">
          Novedades
        </div>
        <div class="item item-text-wrap" ng-if="item.ilNov">
          {{item.ilNov}}
        </div>
        <div class="item item-divider" ng-if="item.ilSerial">
          Serial
        </div>
        <div class="item item-text-wrap" ng-if="item.ilSerial">
          {{item.ilSerial}}
        </div>
      </div>
      <!-- Fin Luminairia -->

      <!-- Brazo -->
      <div class="card">
        <div class="item item-divider">
          BRAZO
        </div>
        <div class="item item-divider"ng-if="item.brzTipo === '1'">
          Tipo: Corto 1.20 Mts
        </div>
        <div class="item item-divider"ng-if="item.brzTipo === '2'">
          Tipo: Largo 2.40 Mts
        </div>
        <div class="item item-divider"ng-if="item.brzTipo === '3'">
          Tipo: No Aplica - Reflectores
        </div>
        <div class="item item-text-wrap" ng-if="item.brzVTipo === '1'">
          <ion-list>
            <ion-toggle ng-model="brz.tipo1" toggle-class="toggle-calm" ng-change="brzTipo()">
              Corto 1.20 Mts
            </ion-toggle>
            <ion-toggle ng-model="brz.tipo2" toggle-class="toggle-calm" ng-change="brzTipo()">
              Largo 2.40 Mts
            </ion-toggle>
            <ion-toggle ng-model="brz.tipoN" toggle-class="toggle-calm" ng-change="brzTipo()">
              No Aplica - Reflectores
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider">
          <p ng-if="item.brzIncorp === '1'">Incorporado</p>
          <p ng-if="item.brzIncorp === '0'">No Incorporado</p>
        </div>
        <div class="item item-text-wrap" ng-if="item.brzVTipo === '1'">
          <ion-toggle ng-model="brz.incorporado" toggle-class="toggle-calm" ng-change="brzTipoInc()">
            Incorporado
          </ion-toggle>
          <ion-toggle ng-model="brz.noincorporado" toggle-class="toggle-calm" ng-change="brzTipoInc()">
            No Incorporado
          </ion-toggle>
        </div>
        <div class="item item-divider" ng-if="item.brzObs">
          Observaciones
        </div>
        <div class="item item-text-wrap" ng-if="item.brzObs">
          {{item.brzObs}}
        </div>
        <div class="item item-divider">
          Novedades
        </div>
        <div class="item item-text-wrap">
          {{item.brzNovedades}}
        </div>
      </div>
      <!-- Fin Brazo -->

      <!-- Apoyo -->
      <div class="card">
        <div class="item item-divider">
          APOYO
        </div>
        <div class="item item-divider">
          <p ng-if="item.apPertenece === '1'">Pertenece: Cens</p>
          <p ng-if="item.apPertenece === '2'">Pertenece: Telecom</p>
          <p ng-if="item.apPertenece === '3'">Pertenece: Exclusivo A.P</p>
        </div>
        <div class="item item-text-wrap" ng-if="item.apVPertenece === '1'">
          <ion-list>
            <ion-toggle ng-model="apPert.cens" toggle-class="toggle-balanced" ng-change="apPertenece()">
              Cens
            </ion-toggle>
            <ion-toggle ng-model="apPert.telecom" toggle-class="toggle-balanced" ng-change="apPertenece()">
              Telecom
            </ion-toggle>
            <ion-toggle ng-model="apPert.exclusivo" toggle-class="toggle-balanced" ng-change="apPertenece()">
              Exclusivo A.P
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider">
          <p ng-if="item.apTipo === '1'">Tipo: Concreto</p>
          <p ng-if="item.apTipo === '2'">Tipo: Metálico</p>
          <p ng-if="item.apTipo === '3'">Tipo: Fibra</p>
          <p ng-if="item.apTipo === '4'">Tipo: Riel</p>
          <p ng-if="item.apTipo === '5'">Tipo: Madera</p>
        </div>
        <div class="item item-text-wrap" ng-if="item.apVTipo === '1'">
          <ion-list>
            <ion-toggle ng-model="apType.concreto" toggle-class="toggle-balanced" ng-change="apTipo()">
              Concreto
            </ion-toggle>
            <ion-toggle ng-model="apType.metalico" toggle-class="toggle-balanced" ng-change="apTipo()">
              Metálico
            </ion-toggle>
            <ion-toggle ng-model="apType.fibra" toggle-class="toggle-balanced" ng-change="apTipo()">
              Fibra
            </ion-toggle>
            <ion-toggle ng-model="apType.riel" toggle-class="toggle-balanced" ng-change="apTipo()">
              Riel
            </ion-toggle>
            <ion-toggle ng-model="apType.madera" toggle-class="toggle-balanced" ng-change="apTipo()">
              Madera
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider">
          Longitud: {{item.apLongitud}}
        </div>
        <div class="item item-text-wrap" ng-if="item.apVLongitud === '1'">
          <ion-list>
            <ion-radio ng-model="ei.apLongitud" ng-value="'8 Mts'">8 Mts</ion-radio>
            <ion-radio ng-model="ei.apLongitud" ng-value="'10 Mts'">10 Mts</ion-radio>
            <ion-radio ng-model="ei.apLongitud" ng-value="'12 Mts'">12 Mts</ion-radio>
            <ion-radio ng-model="ei.apLongitud" ng-value="'14 Mts'">14 Mts</ion-radio>
            <ion-radio ng-model="ei.apLongitud" ng-value="'16 Mts'">16 Mts</ion-radio>
          </ion-list>
        </div>
        <div class="item item-divider" ng-if="item.apObs">
          Observaciones
        </div>
        <div class="item item-text-wrap" ng-if="item.apObs">
          {{item.apObs}}
        </div>
        <div class="item item-divider">
          Novedades
        </div>
        <div class="item item-text-wrap">
          {{item.apNovedades}}
        </div>
      </div>
      <!-- Fin Apoyo -->

      <!-- Red -->
      <div class="card">
        <div class="item item-divider">
          RED
        </div>
        <div class="item item-divider" ng-if="item.redTipo === '1'">
          Tipo: Compartida con Cens
        </div>
        <div class="item item-divider" ng-if="item.redTipo === '2'">
          Tipo: Exclusivos A.P
        </div>
        <div class="item item-text-wrap" ng-if="item.redVTipo === '1'">
          <ion-list>
            <ion-toggle ng-model="redComp.cens" toggle-class="toggle-calm" ng-change="redCompf()">
              Compartida con Cens
            </ion-toggle>
            <ion-toggle ng-model="redComp.exclu" toggle-class="toggle-calm" ng-change="redCompf()">
              Exclusivos A.P
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider" ng-if="item.redArerea === '0'">
          Aerea
        </div>
        <div class="item item-divider" ng-if="item.redArerea === '1'">
          Subterranea
        </div>
        <div class="item item-divider" ng-if="item.redArerea === '2'">
          N/A
        </div>
        <div class="item item-divider">
          Longitud: {{item.redDistancia}}
        </div>
        <div class="item item-text-wrap" ng-if="item.redVDistancia === '1'">
          <label class="item item-input">
            <input type="number" ng-model="ei.redDistancia" placeholder="Longitud de la red">
          </label>
        </div>

      </div>
      <!-- Fin Red -->
      <div class="padding">
        <button class="button button-block" ng-click="toSave('1')">Validar</button>
      </div>
    </div>
    <!-- FIN LUMINARIA -->

    <!-- FAROL Terra-->
    <div ng-if="item.ilTipo === '2' || item.ilTipo === '4'">

      <div class="card">
        <div class="item item-divider">
          Tecnologia: {{item.ilTecnologia}}
        </div>
        <div class="item item-text-wrap" ng-if="item.v_tecnologia === '1'">
          <ion-list>
            <ion-toggle ng-model="ftTec.sodio" toggle-class="toggle-balanced" ng-change="ftTecnologia()">
              Sodio
            </ion-toggle>
            <ion-toggle ng-model="ftTec.led" toggle-class="toggle-balanced" ng-change="ftTecnologia()">
              Led
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider">
          Potencia: {{item.ilPotencia}}
        </div>
        <div class="item item-text-wrap" ng-if="item.ilVPotencia === '1'">
          <ion-list ng-if="item.ilTecnologia === 'sodio'">
            <ion-toggle ng-model="ftPot.potenciaLed40" toggle-class="toggle-balanced"
                        ng-change="ftPotencia()">
              40 W
            </ion-toggle>
            <ion-toggle ng-model="ftPot.potenciaLed60" toggle-class="toggle-balanced"
                        ng-change="ftPotencia()">
              60 W
            </ion-toggle>
            <ion-toggle ng-model="ftPot.potenciaSodio70" toggle-class="toggle-balanced"
                        ng-change="ftPotencia()">
              70 W
            </ion-toggle>
            <ion-toggle ng-model="ftPot.potenciaSodio150" toggle-class="toggle-balanced"
                        ng-change="ftPotencia()">
              150 W
            </ion-toggle>
            <ion-toggle ng-model="ftPot.potenciaSodio250" toggle-class="toggle-balanced"
                        ng-change="ftPotencia()">
              250 W
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider">
          Observaciones
        </div>
        <div class="item item-text-wrap" ng-if="item.ilObs">
          {{item.ilObs}}
        </div>
        <div class="item item-divider">
          Novedades
        </div>
        <div class="item item-text-wrap">
          {{item.ilNov}}
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          RED
        </div>
        <div class="item item-divider" ng-if="item.redTipo === '1'">
          Compartida con Cens
        </div>
        <div class="item item-divider" ng-if="item.redTipo === '2'">
          Exclusivos A.P
        </div>
        <div class="item item-text-wrap" ng-if="item.redVTipo === '1'">
          <ion-list>
            <ion-toggle ng-model="redComp.cens" toggle-class="toggle-calm" ng-change="redCompf()">
              Compartida con Cens
            </ion-toggle>
            <ion-toggle ng-model="redComp.exclu" toggle-class="toggle-calm" ng-change="redCompf()">
              Exclusivos A.P
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider" ng-if="item.redArerea === '0'">
          Subterranea
        </div>
        <div class="item item-divider" ng-if="item.redArerea === '1'">
          Aerea
        </div>
        <div class="item item-divider" ng-if="item.redArerea === '2'">
          N/A
        </div>
        <div class="item item-divider">
          Longitud: {{item.redDistancia}}
        </div>
        <div class="item item-text-wrap" ng-if="item.redVDistancia === '1'">
          <label class="item item-input">
            <input type="number" ng-model="red.distancia" placeholder="Longitud de la red">
          </label>
        </div>
        <div class="item item-divider" ng-if="item.redObs === '1'">
          Observaciones
        </div>
        <div class="item item-text-wrap" ng-if="item.redObs === '1'">
          {{item.redObs}}
        </div>
        <div class="item item-divider">
          Novedades
        </div>
        <div class="item item-text-wrap">
          {{item.redNovedades}}
        </div>
      </div>
      <div class="padding">
        <button class="button button-block" ng-click="toSave('2')">Validar</button>
      </div>
    </div>
    <!-- FIN FAROL -->

    <!-- Reflector -->
    <div ng-if="item.ilTipo === '3'">

      <div class="card">
        <div class="item item-divider">
          Tecnologia: {{item.ilTecnologia}}
        </div>
        <div class="item item-text-wrap" ng-if="item.v_tecnologia === '1'">
          <ion-list>
            <ion-toggle ng-model="rfl.sodio" toggle-class="toggle-balanced" ng-change="rflTecnologia()">
              Sodio
            </ion-toggle>
            <ion-toggle ng-model="rfl.led" toggle-class="toggle-balanced" ng-change="rflTecnologia()">
              Led
            </ion-toggle>
            <ion-toggle ng-model="rfl.metal_halide" toggle-class="toggle-balanced"
                        ng-change="rflTecnologia()">
              Metal Halide
            </ion-toggle>
            <ion-toggle ng-model="rfl.mercurio" toggle-class="toggle-balanced" ng-change="rflTecnologia()">
              Mercurio
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider">
          Potencia: {{item.ilPotencia}}
        </div>
        <div class="item item-text-wrap" ng-if="item.ilVPotencia === '1'">
          <ion-list ng-if="item.ilTecnologia === 'sodio'">
            <ion-radio ng-model="ei.ilPotencia" ng-value="'150 W'">150 W</ion-radio>
            <ion-radio ng-model="ei.ilPotencia" ng-value="'400 W'">400 W</ion-radio>
            <ion-radio ng-model="ei.ilPotencia" ng-value="'1000 W'">1000 W</ion-radio>
          </ion-list>
          <ion-list ng-if="item.ilTecnologia === 'led'">
            <ion-radio ng-model="ei.ilPotencia" ng-value="'90 W'">90 W</ion-radio>
            <ion-radio ng-model="ei.ilPotencia" ng-value="'120 W'">120 W</ion-radio>
            <ion-radio ng-model="ei.ilPotencia" ng-value="'315 W'">315 W</ion-radio>
            <ion-radio ng-model="ei.ilPotencia" ng-value="'500 W'">500 W</ion-radio>
          </ion-list>
          <ion-list ng-if="item.ilTecnologia === 'metal halide'">
            <ion-radio ng-model="ei.ilPotencia" ng-value="'175 W'">175 W</ion-radio>
            <ion-radio ng-model="ei.ilPotencia" ng-value="'250 W'">250 W</ion-radio>
            <ion-radio ng-model="ei.ilPotencia" ng-value="'400 W'">400 W</ion-radio>
            <ion-radio ng-model="ei.ilPotencia" ng-value="'1000 W'">1000 W</ion-radio>
          </ion-list>
          <ion-list ng-if="item.ilTecnologia === 'mercurio'">
            <ion-radio ng-model="ei.ilPotencia" ng-value="'250 W'">250 W</ion-radio>
            <ion-radio ng-model="ei.ilPotencia" ng-value="'400 W'">400 W</ion-radio>
            <ion-radio ng-model="ei.ilPotencia" ng-value="'1000 W'">1000 W</ion-radio>
          </ion-list>
        </div>
        <div class="item item-divider" ng-if="item.ilObs">
          Observaciones
        </div>
        <div class="item item-text-wrap" ng-if="item.ilObs">
          {{item.ilObs}}
        </div>
        <div class="item item-divider">
          Novedades
        </div>
        <div class="item item-text-wrap">
          {{item.ilNov}}
        </div>
        <div class="item item-divider" ng-if="item.ilSerial">
          Serial
        </div>
        <div class="item item-text-wrap" ng-if="item.ilSerial">
          {{item.ilSerial}}
        </div>
      </div>

      <!-- Brazo -->
      <div class="card">
        <div class="item item-divider">
          BRAZO
        </div>
        <div class="item item-divider" ng-if="item.brzTipo === '1'">
          Tipo: Corto 1.20 Mts
        </div>
        <div class="item item-divider" ng-if="item.brzTipo === '2'">
          Largo 2.40 Mts
        </div>
        <div class="item item-divider" ng-if="item.brzTipo === '0'">
          No Aplica - Reflectores
        </div>
        <div class="item item-text-wrap" ng-if="item.brzVTipo === '1'">
          <ion-list>
            <ion-toggle ng-model="brz.tipo1" toggle-class="toggle-calm" ng-change="brzTipo()">
              Corto 1.20 Mts
            </ion-toggle>
            <ion-toggle ng-model="brz.tipo2" toggle-class="toggle-calm" ng-change="brzTipo()">
              Largo 2.40 Mts
            </ion-toggle>
            <ion-toggle ng-model="brz.tipoN" toggle-class="toggle-calm" ng-change="brzTipo()">
              No Aplica - Reflectores
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider">
          <p ng-if="item.brzIncorp === '1'">Incorporado</p>
          <p ng-if="item.brzIncorp === '0'">No Incorporado</p>
        </div>
        <div class="item item-text-wrap" ng-if="item.brzVTipo === '1'">
          <ion-toggle ng-model="brz.incorporado" toggle-class="toggle-calm" ng-change="brzTipoInc()">
            Incorporado
          </ion-toggle>
          <ion-toggle ng-model="brz.noincorporado" toggle-class="toggle-calm" ng-change="brzTipoInc()">
            No Incorporado
          </ion-toggle>
        </div>
        <div class="item item-divider" ng-if="item.brzIncorp === '2'">
          No Aplica
        </div>
        <div class="item item-divider" ng-if="item.brzObs">
          Observaciones
        </div>
        <div class="item item-text-wrap" ng-if="item.brzObs">
          {{item.brzObs}}
        </div>
        <div class="item item-divider">
          Novedades
        </div>
        <div class="item item-text-wrap">
          {{item.brzNovedades}}
        </div>
      </div>
      <!-- Fin Brazo -->

      <!-- Apoyo -->
      <div class="card">
        <div class="item item-divider">
          APOYO
        </div>
        <div class="item item-divider">
          <p ng-if="item.apPertenece === '1'">Pertenece: Cens</p>
          <p ng-if="item.apPertenece === '2'">Pertenece: Telecom</p>
          <p ng-if="item.apPertenece === '3'">Pertenece: Exclusivo A.P</p>
          <p ng-if="item.apPertenece === '0'">No Aplica</p>
        </div>
        <div class="item item-text-wrap" ng-if="item.apVPertenece === '1' && item.apPertenece !== '0'">
          <ion-list>
            <ion-toggle ng-model="apPert.cens" toggle-class="toggle-balanced" ng-change="apPertenece()">
              Cens
            </ion-toggle>
            <ion-toggle ng-model="apPert.telecom" toggle-class="toggle-balanced" ng-change="apPertenece()">
              Telecom
            </ion-toggle>
            <ion-toggle ng-model="apPert.exclusivo" toggle-class="toggle-balanced" ng-change="apPertenece()">
              Exclusivo A.P
            </ion-toggle>
            <ion-toggle ng-model="apPert.noaplica" toggle-class="toggle-balanced" ng-change="apPertenece()">
              No aplica - Reflector
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider">
          <p ng-if="item.apTipo === '1'">Tipo: Concreto</p>
          <p ng-if="item.apTipo === '2'">Tipo: Metálico</p>
          <p ng-if="item.apTipo === '3'">Tipo: Fibra</p>
        </div>
        <div class="item item-text-wrap" ng-if="item.apVTipo === '1'">
          <ion-list>
            <ion-toggle ng-model="apType.concreto" toggle-class="toggle-balanced" ng-change="apTipo()">
              Concreto
            </ion-toggle>
            <ion-toggle ng-model="apType.metalico" toggle-class="toggle-balanced" ng-change="apTipo()">
              Metálico
            </ion-toggle>
            <ion-toggle ng-model="apType.fibra" toggle-class="toggle-balanced" ng-change="apTipo()">
              Fibra
            </ion-toggle>
            <ion-toggle ng-model="apType.riel" toggle-class="toggle-balanced" ng-change="apTipo()">
              Riel
            </ion-toggle>
            <ion-toggle ng-model="apType.madera" toggle-class="toggle-balanced" ng-change="apTipo()">
              Madera
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider">
          Longitud: {{item.apLongitud}}
        </div>
        <div class="item item-text-wrap" ng-if="item.apVLongitud === '1'">
          <ion-list>
            <ion-radio ng-model="ei.apLongitud" ng-value="'8 Mts'">8 Mts</ion-radio>
            <ion-radio ng-model="ei.apLongitud" ng-value="'10 Mts'">10 Mts</ion-radio>
            <ion-radio ng-model="ei.apLongitud" ng-value="'12 Mts'">12 Mts</ion-radio>
            <ion-radio ng-model="ei.apLongitud" ng-value="'16 Mts'">16 Mts</ion-radio>
          </ion-list>
        </div>
        <div class="item item-divider" ng-if="item.apObs">
          Observaciones
        </div>
        <div class="item item-text-wrap" ng-if="item.apObs">
          {{item.apObs}}
        </div>
        <div class="item item-divider">
          Novedades
        </div>
        <div class="item item-text-wrap">
          {{item.apNovedades}}
        </div>

      </div>
      <!-- Fin Apoyo -->

      <!-- Red -->
      <div class="card">
        <div class="item item-divider">
          RED
        </div>
        <div class="item item-divider" ng-if="item.redTipo === '1'">
          Tipo: Compartida con Cens
        </div>
        <div class="item item-divider" ng-if="item.redTipo === '2'">
          Tipo: Exclusivos A.P
        </div>
        <div class="item item-text-wrap" ng-if="item.redVTipo === '1'">
          <ion-list>
            <ion-toggle ng-model="redComp.cens" toggle-class="toggle-calm" ng-change="redCompf()">
              Compartida con Cens
            </ion-toggle>
            <ion-toggle ng-model="redComp.exclu" toggle-class="toggle-calm" ng-change="redCompf()">
              Exclusivos A.P
            </ion-toggle>
          </ion-list>
        </div>
        <div class="item item-divider" ng-if="item.redArerea === '1'">
          Aerea
        </div>
        <div class="item item-divider" ng-if="item.redArerea === '0'">
          Subterranea
        </div>
        <div class="item item-divider" ng-if="item.redArerea === '2'">
          N/A
        </div>
        <div class="item item-divider">
          Longitud: {{item.redDistancia}}
        </div>
        <div class="item item-text-wrap" ng-if="item.redVDistancia === '1'">
          <label class="item item-input">
            <input type="number" ng-model="ei.redDistancia" placeholder="Longitud de la red">
          </label>
        </div>
        <div class="item item-divider" ng-if="item.redObs">
          Observaciones
        </div>
        <div class="item item-text-wrap" ng-if="item.redObs">
          {{item.redObs}}
        </div>
        <div class="item item-divider">
          Novedades
        </div>
        <div class="item item-text-wrap">
          {{item.redNovedades}}
        </div>
      </div>
      <!-- Fin Red -->
      <div class="padding">
        <button class="button button-block" ng-click="toSave('3')">Validar</button>
      </div>
    </div>
    <!-- Fin Relflector -->


  </ion-content>

</ion-view>
