<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-balanced">
    <div class="buttons">
      <button class="button" ng-click="back()"><i class="icon ion-reply"></i></button>
    </div>
    <h1 class="title">Registros realizados</h1>
    <div class="buttons">
      <button class="button" ng-click="info()"><i class="icon ion-loop"></i></button>
    </div>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding">
      <h1>Estadisticas de registros realizados</h1>
    </div>
    <div class="card" ng-if="ind === 0">
      <div class="item item-text-wrap">
        No se encuentran registros realizados
      </div>
    </div>
    <div class="card" ng-if="ind > 0">
      <div class="row header">
        <div class="col">Realizado</div>
        <div class="col">Meta Hoy</div>
        <div class="col">Meta Global</div>
        <div class="col">Historico</div>
      </div>
      <div class="row">
        <div class="col">{{data.realizado}}</div>
        <div class="col">{{data.meta_hoy}}</div>
        <div class="col">{{data.meta_global}}</div>
        <div class="col">{{data.historico}}</div>
      </div>

      <div class="row header">
        <div class="col">Ponderado</div>
      </div>
      <div class="row">
        <div class="col">
          {{data.ponderado}}
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>
