<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-balanced">
    <div class="buttons">
      <button class="button" ng-click="back()"> <i class="icon ion-reply"></i> </button>
    </div>
    <h1 class="title">Registros realizados</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">

    <div class="padding" style="text-align: center;">
      <h1>Listado registros por subir</h1>
    </div>

    <div class="card" ng-if="regTam === 0 && regTam2 === 0 && regTam3 === 0" >
      <div class="item item-text-wrap">
        No se encuentran registros locales realizados
      </div>
    </div>

    <div class="list" ng-if="regTam > 0">

      <div class="padding" ng-repeat="item in data">
        <a class="item item-thumbnail-left">
          <h2 ng-if="item.tipo === 1">Registro de Luminaria</h2>
          <h2 ng-if="item.tipo === 3">Registro de Reflector</h2>
          <p>Latitud: {{item.latitud}}</p>
          <p>Longitud: {{item.longitud}}</p>
          <p>Barrio: {{item.barrio}}</p>
          <p>Direccion: {{item.direccion}}</p>
        </a>
        <button class="button button-energized button-block" ng-click="syncServer('{{item.tipo}}', '{{item.idActivo}}')">
          Sincronizar
        </button>
      </div>

    </div>
    <div class="list" ng-if="regTam2 > 0">

      <div class="padding" ng-repeat="item in data2">
        <a class="item item-thumbnail-left">
          <h2 ng-if="item.tipo === 2">Registro de Farol</h2>
          <h2 ng-if="item.tipo === 4">Registro de Terra</h2>
          <p>Latitud: {{item.latitud}}</p>
          <p>Longitud: {{item.longitud}}</p>
          <p>Barrio: {{item.barrio}}</p>
          <p>Direccion: {{item.direccion}}</p>
        </a>
        <button class="button button-energized button-block" ng-click="syncServer('{{item.tipo}}', '{{item.idActivo}}')">
          Sincronizar
        </button>
      </div>

    </div>

    <div class="list" ng-if="regTam3 > 0">

      <div class="padding" ng-repeat="item in data3">
        <a class="item item-thumbnail-left">
          <h2>Registro de Transformador</h2>
          <p>Latitud: {{item.latitud}}</p>
          <p>Longitud: {{item.longitud}}</p>
          <p>Barrio: {{item.barrio}}</p>
          <p>Direccion: {{item.direccion}}</p>
        </a>
        <button class="button button-energized button-block" ng-click="syncServer('5', '{{item.idActivo}}')">
          Sincronizar
        </button>
      </div>

    </div>

  </ion-content>

</ion-view>
