<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-balanced">
    <div class="buttons">
      <button class="button" ng-click="doSomething()">Actualizar</button>
    </div>
    <h1 class="title">Registros realizados</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header">
    <div class="padding">
      <h1>Listado de registros realizados</h1>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        No se encuentran registros realizados
      </div>
    </div>
  </ion-content>

</ion-view>
