<ion-view title="Nuevo Registro de Activo Luminaria" view-cached="false">
  <ion-header-bar align-title="center" class="bar-calm">
    <!--<div class="buttons">
      <button class="button button-icon ion-ios-undo" ng-click="toBak()"></button>
    </div>-->
    <h1 class="title">Elementos de Iluminación</h1>
  </ion-header-bar>

  <ion-content class="scroll-container has-header" scroll="true">

    <ion-slides options="options" slider="data.slider" active-slide="1" show-pager="false">
      <ion-slide-page style="background-color: white; overflow-y: scroll;">

        <div class="padding">
          <div class="padding" style="text-align: center;">
            <h1>Nuevo Elemento de Iluminación</h1>
          </div>

          <div class="card">

            <div class="item item-divider">
              <i class="icon ion-image"></i> Foto
            </div>

            <div class="item item-text-wrap" style="text-align: center;">
              <img src="{{pictureURl}}" style="width: 50%; height: 30%;">
            </div>

            <div class="item item-divider">
              <button class="button button-calm button-block" ng-click="tomarFoto()">
                <i class="icon ion-ios-camera"></i> Tomar Foto
              </button>
            </div>

            <div class="item item-text-wrap">
              <div class="item item-divider">
                Tipo de Tecnología
              </div>

              <ion-list ng-show="ei.tipo === '1'">
                <ion-toggle ng-model="tecnologia.sodio" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Sodio
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.led" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Led
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.metal_halide" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Metal Halide
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.mercurio" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Mercurio
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.luz_mixta" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Luz Mixta
                </ion-toggle>

              </ion-list>

              <ion-list ng-show="ei.tipo === '2'">
                <ion-toggle ng-model="tecnologia.sodio" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Sodio
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.led" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Led
                </ion-toggle>
              </ion-list>

              <ion-list ng-show="ei.tipo === '3'">
                <ion-toggle ng-model="tecnologia.sodio" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Sodio
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.led" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Led
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.metal_halide" toggle-class="toggle-balanced"
                            ng-change="eiTecnologia()">
                  Metal Halide
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.mercurio" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Mercurio
                </ion-toggle>
              </ion-list>

              <ion-list ng-show="ei.tipo === '4'">
                <ion-toggle ng-model="tecnologia.sodio" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Sodio
                </ion-toggle>
                <ion-toggle ng-model="tecnologia.led" toggle-class="toggle-balanced" ng-change="eiTecnologia()">
                  Led
                </ion-toggle>
              </ion-list>

            </div>

            <div class="padding">
              <ion-toggle ng-model="ei.v_tecnologia" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
            </div>

          </div>
        </div>

      </ion-slide-page>

      <!-- Potencia -->
      <ion-slide-page style="background-color: white; overflow-y: scroll;" ng-if="ei.tecnologia !== ''">

        <div class="padding">

          <div class="padding" style="text-align: center;">
            <h1>Potencia</h1>
          </div>
          <!-- Luminaria -->
          <div class="card" ng-if="ei.tipo === '1'">
            <!-- Tecnologia de Sodio -->
            <div ng-if="ei.tecnologia === 'sodio'">
              <div class="item item-divider">
                ¿Cuál es la potencia de la luminaria de sodio?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-toggle ng-model="luminaria.potenciaSodioA" toggle-class="toggle-balanced"
                              ng-change="eiPostsodio()">
                    Tipo A (70 W)
                  </ion-toggle>
                  <ion-toggle ng-model="luminaria.potenciaSodioB" toggle-class="toggle-balanced"
                              ng-change="eiPostsodio()">
                    Tipo B (150 W)
                  </ion-toggle>
                  <ion-toggle ng-model="luminaria.potenciaSodioC" toggle-class="toggle-balanced"
                              ng-change="eiPostsodio()">
                    Tipo C (250 W)
                  </ion-toggle>
                  <ion-toggle ng-model="luminaria.potenciaSodioD" toggle-class="toggle-balanced"
                              ng-change="eiPostsodio()">
                    Tipo D (400 W)
                  </ion-toggle>
                </ion-list>
              </div>

            </div>
            <!-- Tecnologia de Led -->
            <div ng-if="ei.tecnologia === 'led'">
              <div class="item item-divider">
                ¿Cuál es la potencia de la luminaria de led?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-toggle ng-model="luminaria.potenciaLedA" toggle-class="toggle-balanced"
                              ng-change="eiPostLed()">
                    Tipo A (20W - 42W)
                  </ion-toggle>
                  <ion-toggle ng-model="luminaria.potenciaLedB" toggle-class="toggle-balanced"
                              ng-change="eiPostLed()">
                    Tipo B (45W - 65W)
                  </ion-toggle>
                  <ion-toggle ng-model="luminaria.potenciaLedC" toggle-class="toggle-balanced"
                              ng-change="eiPostLed()">
                    Tipo C (77W - 90W)
                  </ion-toggle>
                  <ion-toggle ng-model="luminaria.potenciaLedD" toggle-class="toggle-balanced"
                              ng-change="eiPostLed()">
                    Tipo D (100W - 120W)
                  </ion-toggle>
                </ion-list>
              </div>
              <div class="item item-divider">
                Especificación
              </div>
              <div ng-show="potenciaLed === 'A'">
                <div class="item item-divider">
                  ¿Cuál es la potencia específica de la luminaria de led?
                </div>
                <div class="item item-text-wrap">
                  <ion-list>
                    <ion-toggle ng-model="luminaria.potenciaLedA20" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      20 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedA30" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      30 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedA32" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      32 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedA35" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      35 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedA36" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      36 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedA40" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      40 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedA42" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      42 W
                    </ion-toggle>
                  </ion-list>
                </div>
              </div>

              <div ng-show="potenciaLed === 'B'">
                <div class="item item-divider">
                  ¿Cuál es la potencia específica de la luminaria de led?
                </div>
                <div class="item item-text-wrap">
                  <ion-list>
                    <ion-toggle ng-model="luminaria.potenciaLedB45" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      45 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedB46" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      46 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedB47" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      47 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedB50" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      50 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedB55" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      55 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedB60" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      60 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedB65" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      65 W
                    </ion-toggle>
                  </ion-list>
                </div>

              </div>

              <div ng-show="potenciaLed === 'C'">

                <div class="item item-divider">
                  ¿Cuál es la potencia específica de la luminaria de led?
                </div>
                <div class="item item-text-wrap">
                  <ion-list>
                    <ion-toggle ng-model="luminaria.potenciaLedC70" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      70 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedC77" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      77 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedC90" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      90 W
                    </ion-toggle>
                  </ion-list>
                </div>

              </div>

              <div ng-show="potenciaLed === 'D'">

                <div class="item item-divider">
                  ¿Cuál es la potencia específica de la luminaria de led?
                </div>
                <div class="item item-text-wrap">
                  <ion-list>
                    <ion-toggle ng-model="luminaria.potenciaLedD100" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      100 W
                    </ion-toggle>
                    <ion-toggle ng-model="luminaria.potenciaLedD120" toggle-class="toggle-balanced"
                                ng-change="eiPotenciaLed()">
                      120 W
                    </ion-toggle>
                  </ion-list>
                </div>

              </div>

            </div>
            <!-- Tecnologia de Metal Halide -->
            <div ng-if="ei.tecnologia === 'metal halide'">
              <div class="item item-divider">
                ¿Cuál es la potencia de la luminaria de metal halide?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-toggle ng-model="luminaria.potenciaMH70" toggle-class="toggle-balanced"
                              ng-change="eiPotenciaMH()">
                    70 W
                  </ion-toggle>
                  <ion-toggle ng-model="luminaria.potenciaMH120" toggle-class="toggle-balanced"
                              ng-change="eiPotenciaMH()">
                    120 W
                  </ion-toggle>
                  <ion-toggle ng-model="luminaria.potenciaMH400" toggle-class="toggle-balanced"
                              ng-change="eiPotenciaMH()">
                    400 W
                  </ion-toggle>
                </ion-list>
              </div>

            </div>
            <!-- Tecnologia de Mercurio -->
            <div ng-if="ei.tecnologia === 'mercurio'">
              <div class="item item-divider">
                ¿Cuál es la potencia de la luminaria de Mercurio?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-toggle ng-model="luminaria.potenciaMer125" toggle-class="toggle-balanced"
                              ng-change="eiPotenciaMer()">
                    125 W
                  </ion-toggle>
                  <ion-toggle ng-model="luminaria.potenciaMer250" toggle-class="toggle-balanced"
                              ng-change="eiPotenciaMer()">
                    250 W
                  </ion-toggle>
                  <ion-toggle ng-model="luminaria.potenciaMer400" toggle-class="toggle-balanced"
                              ng-change="eiPotenciaMer()">
                    400 W
                  </ion-toggle>
                </ion-list>
              </div>

            </div>

            <!-- Tecnologia de Luz Mixta -->
            <div ng-if="ei.tecnologia === 'luz mixta'">
              <div class="item item-divider">
                ¿Cuál es la potencia de la luminaria de Luz Mixta?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-toggle ng-model="luminaria.potenciaLmx" toggle-class="toggle-balanced"
                              ng-change="eiPotenciaLMx()">
                    160 W
                  </ion-toggle>
                </ion-list>
              </div>

            </div>

          </div>

          <!-- Farol -->
          <div class="card" ng-if="ei.tipo === '2'">
            <!-- Tecnologia de sodio -->
            <div ng-if="ei.tecnologia === 'sodio'">
              <div class="item item-divider">
                ¿Cuál es la potencia del farol de sodio?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-toggle ng-model="farol.potenciaSodio70" toggle-class="toggle-balanced"
                              ng-change="eiFarolPotSodio()">
                    70 W
                  </ion-toggle>
                  <ion-toggle ng-model="farol.potenciaSodio150" toggle-class="toggle-balanced"
                              ng-change="eiFarolPotSodio()">
                    150 W
                  </ion-toggle>
                  <ion-toggle ng-model="farol.potenciaSodio250" toggle-class="toggle-balanced"
                              ng-change="eiFarolPotSodio()">
                    250 W
                  </ion-toggle>
                </ion-list>
              </div>

            </div>
            <!-- Tecnologia de led -->
            <div ng-if="ei.tecnologia === 'led'">
              <div class="item item-divider">
                ¿Cuál es la potencia del farol de led?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-toggle ng-model="farol.potenciaLed40" toggle-class="toggle-balanced"
                              ng-change="eiFarolPotLed()">
                    40 W
                  </ion-toggle>
                  <ion-toggle ng-model="farol.potenciaLed60" toggle-class="toggle-balanced"
                              ng-change="eiFarolPotLed()">
                    60 W
                  </ion-toggle>
                </ion-list>
              </div>

            </div>
          </div>

          <!-- Reflectores -->
          <div class="card" ng-if="ei.tipo === '3'">
            <!-- Tecnologia de sodio -->
            <div ng-if="ei.tecnologia === 'sodio'">
              <div class="item item-divider">
                ¿Cuál es la potencia del Reflector de sodio?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="ei.potencia" ng-value="'150 W'">150 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'400 W'">400 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'1000 W'">1000 W</ion-radio>
                </ion-list>
              </div>

            </div>
            <!-- Tecnologia de led -->
            <div ng-if="ei.tecnologia === 'led'">
              <div class="item item-divider">
                ¿Cuál es la potencia del Reflector de led?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="ei.potencia" ng-value="'90 W'">90 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'120 W'">120 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'315 W'">315 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'500 W'">500 W</ion-radio>
                </ion-list>
              </div>

            </div>
            <!-- Tecnologia de metal halide -->
            <div ng-if="ei.tecnologia === 'metal halide'">
              <div class="item item-divider">
                ¿Cuál es la potencia del Reflector de metal halide?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="ei.potencia" ng-value="'175 W'">175 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'250 W'">250 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'400 W'">400 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'1000 W'">1000 W</ion-radio>
                </ion-list>
              </div>

            </div>
            <!-- Tecnologia de mercurio -->
            <div ng-if="ei.tecnologia === 'mercurio'">
              <div class="item item-divider">
                ¿Cuál es la potencia del Reflector de mercurio?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="ei.potencia" ng-value="'250 W'">250 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'400 W'">400 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'1000 W'">1000 W</ion-radio>
                </ion-list>
              </div>

            </div>
          </div>

          <!-- Terras -->
          <div class="card" ng-if="ei.tipo === '4'">
            <!-- Tecnologia de led -->
            <div ng-if="ei.tecnologia === 'led'">
              <div class="item item-divider">
                ¿Cuál es la potencia de terra led?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="ei.potencia" ng-value="'5 W'">5 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'10 W'">10 W</ion-radio>
                  <ion-radio ng-model="ei.potencia" ng-value="'15 W'">15 W</ion-radio>
                </ion-list>
              </div>
            </div>
            <!-- Tecnologia de sodio -->
            <div ng-if="ei.tecnologia === 'sodio'">
              <div class="item item-divider">
                ¿Cuál es la potencia de terra de sodio?
              </div>
              <div class="item item-text-wrap">
                <ion-list>
                  <ion-radio ng-model="ei.potencia" ng-value="'400 W'">400 W</ion-radio>
                </ion-list>
              </div>
            </div>
          </div>

          <div class="padding">
            <ion-toggle ng-model="ei.v_potencia" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
          </div>

        </div>

      </ion-slide-page>

      <!-- NOVEDADES -->
      <ion-slide-page style="background-color: white; overflow-y: scroll;" ng-if="ei.potencia">
        <div class="padding">
          <div class="padding" style="text-align: center;">
            <h1>Novedades encontradas en la Luminaria</h1>
          </div>
          <div class="card">
            <div class="item item-divider">
              Observaciones
            </div>
            <div class="item item-text-wrap">
        <textarea name="observaciones" ng-model="ei.observacion" style="width: 100%"
                  placeholder="Digite las observaciones"></textarea>
            </div>
          </div>
          <div class="card" ng-show="ei.tipo === '1' || ei.tipo === '3'">
            <div class="item item-text-wrap">
              <label class="item item-input">
                <input type="text" ng-model="ei.serial" placeholder="Serial de la luminaria">
              </label>
            </div>
          </div>
          <div class="card">
            <div class="item item-divider">
              Novedades
            </div>
            <div class="item item-text-wrap">
              <ion-toggle ng-model="chk.h" toggle-class="toggle-calm" ng-change="change()">
                Elemento Privado
              </ion-toggle>
              <ion-toggle ng-model="chk.i" toggle-class="toggle-calm" ng-change="change()">
                Elemento Público
              </ion-toggle>
              <ion-toggle ng-model="chk.a" toggle-class="toggle-calm" ng-change="change()">
                Iluminación caída
              </ion-toggle>
              <ion-toggle ng-model="chk.b" toggle-class="toggle-calm" ng-change="change()">
                Sin bombillo.
              </ion-toggle>
              <ion-toggle ng-model="chk.c" toggle-class="toggle-calm" ng-change="change()">
                Directa
              </ion-toggle>
              <ion-toggle ng-model="chk.d" toggle-class="toggle-calm" ng-change="change()">
                Elemento roto.
              </ion-toggle>
              <ion-toggle ng-model="chk.e" toggle-class="toggle-calm" ng-change="change()">
                Bombillo expuesto
              </ion-toggle>
              <ion-toggle ng-model="chk.f" toggle-class="toggle-calm" ng-change="change()">
                Necesario Poda
              </ion-toggle>
              <ion-toggle ng-model="chk.g" toggle-class="toggle-calm" ng-change="noAplica()">
                No aplica
              </ion-toggle>
            </div>
          </div>

        </div>
      </ion-slide-page>

      <ion-slide-page style="background-color: white; overflow-y: scroll;" ng-if="ei.novedades && (ei.tipo === '1' || ei.tipo === '3') && (chk.i || chk.h)">

        <div class="padding">
          <div class="padding" style="text-align: center;">
            <h3>Información del Brazo</h3>
          </div>

          <div class="card">
            <div class="item item-divider">
              ¿Qué tipo de brazo es?
            </div>
            <div class="item item-text-wrap">
              <ion-list>
                <ion-toggle ng-model="brz.tipo1" toggle-class="toggle-calm" ng-change="brzTipo()">
                  Corto 1.20 Mts
                </ion-toggle>
                <ion-toggle ng-model="brz.tipo2" toggle-class="toggle-calm" ng-change="brzTipo()">
                  Largo 2.40 Mts
                </ion-toggle>
                <ion-toggle ng-model="brz.tipoN" toggle-class="toggle-calm" ng-change="brzTipo()">
                  No Aplica - Reflectores
                </ion-toggle>
              </ion-list>
            </div>
          </div>

          <div class="card" ng-show="brazo.tipo > 0 && brazo.tipo < 3">
            <div class="item item-divider">
              ¿Es Incorporado o No Incorporado?
            </div>
            <div class="item item-text-wrap">
              <ion-list>
                <ion-toggle ng-model="brz.incorporado" toggle-class="toggle-calm" ng-change="brzIncorp()">
                  Incorporado
                </ion-toggle>
                <ion-toggle ng-model="brz.noincorporado" toggle-class="toggle-calm" ng-change="brzIncorp()">
                  No Incorporado
                </ion-toggle>
              </ion-list>
            </div>
          </div>

          <div class="padding">
            <ion-toggle ng-model="brazo.v_tipo" toggle-class="toggle-balanced">¿Validar?</ion-toggle>
          </div>

        </div>

      </ion-slide-page>

      <!-- Novedades Brazo -->
      <ion-slide-page style="background-color: white; overflow-y: scroll;" ng-if="brazo.tipo">

        <div class="padding">

          <div class="padding" style="text-align: center;">
            <h3>Novedades encontradas en el Brazo</h3>
          </div>
          <div class="card">
            <div class="item item-divider">
              Observaciones
            </div>
            <div class="item item-text-wrap">
        <textarea name="observaciones" ng-model="brazo.observacion" style="width: 100%"
                  placeholder="Digite las observaciones"></textarea>
            </div>
          </div>
          <div class="card">
            <div class="item item-divider">
              Novedades
            </div>
            <div class="item item-text-wrap">
              <ion-toggle ng-model="chkb.a" toggle-class="toggle-balanced" ng-change="changeB()">
                Brazo dañado o torcido
              </ion-toggle>
              <ion-toggle ng-model="chkb.b" toggle-class="toggle-balanced" ng-change="changeB()">
                Brazo corroído
              </ion-toggle>
              <ion-toggle ng-model="chkb.c" toggle-class="toggle-balanced" ng-change="noAplicaB()">
                No aplica
              </ion-toggle>
            </div>
          </div>

          <div class="padding">
            <button class="button button-calm button-block" ng-click="finalityEi()">
              <i class="icon ion-navigate"></i> Finalizar Elemento de Iluminación con Brazo
            </button>
          </div>
        </div>

      </ion-slide-page>

    </ion-slides>


  </ion-content>

</ion-view>
